<template>
  <section class="d-flex flex-column col-12">
    <div class="d-flex" :class="[initiateMobileVersion? 'flex-column':'flex-row']">
      <addressform
        v-if="!showPaymentSection"
        class="d-flex"
        v-on:broadCastAddress="recieveAddress"
        v-on:validated="isAddressFormValidated"
        :class="[initiateMobileVersion? 'col-12 order-2':'col-6 order-1']"
      ></addressform>
      <basket
        class="d-flex"
        v-if="!showPaymentSection"
        v-on:broadCastBasketItemsEvent="recieveBasketItems"
        v-on:validated="isBasketValidated"
        :class="[initiateMobileVersion? 'col-12 order-1':'col-6 order-2']"
      ></basket>

      <paymentOption
        v-if="showPaymentSection"
        :order="paypalObject"
        :class="[initiateMobileVersion? 'col-12 order-2':'col-6 order-2']"
      ></paymentOption>

      <invoice
        v-if="showPaymentSection"
        class="d-flex"
        :paypalObject="paypalObject"
        :class="[initiateMobileVersion? 'col-12 order-1':'col-6 order-1']"
      ></invoice>
    </div>

    <div class="d-flex justify-content-end pt-4">
      <button
        :disabled="canGoForward"
        v-if="!showPaymentSection"
        @click="showPaymentSection = true"
        class="btn custom-button w-25"
      >Next</button>
    </div>
  </section>
</template>

<script>
import addressform from "@/components/user/address-form";
import basket from "@/components/user/basket";
import paymentOption from "@/components/user/payment-options";
import invoice from "@/components/user/invoice";
export default {
  name: "checkout",
  data() {
    return {
      initiateMobileVersion: false,
      paypalObject: {
        reference_id: "1234",
        amount: 0,
        items: [],
        shipping_address: null,
        payee: null,
        user: null
      },
      addressFormValidated: false,
      hasItemsInBasket: false,
      showPaymentSection: false
    };
  },
  components: {
    addressform,
    basket,
    paymentOption,
    invoice
  },
  computed: {
    canGoForward() {
      return !(this.hasItemsInBasket && this.addressFormValidated);
    }
  },
  mounted() {
    this.update();
    window.addEventListener("resize", this.update);

    this.$on("paymentOptionSelected", val => {
      this.paymentOption = val;
    });
  },
  methods: {
    update() {
      if (window.outerWidth < 1000) {
        this.initiateMobileVersion = true;
      } else {
        this.initiateMobileVersion = false;
      }
    },
    recieveBasketItems(basketItems) {
      let paypalItems = [];
      for (let index = 0; index < basketItems.products.length; index++) {
        const element = basketItems.products[index];
        var paypalItem = {
          name: "" + element.title,
          unit_amount: {
            value: "" + element.price,
            currency_code: "USD"
          },
          quantity: "" + element.quantity
        };
        paypalItems[index] = paypalItem;
      }
      this.paypalObject.amount = basketItems.total;
      this.paypalObject.items = paypalItems;
    },
    recieveAddress(user) {
      this.paypalObject.shipping_address = {
        line1: user.streetno + "-" + user.houseno,
        city: user.city,
        country_code: user.country,
        postal_code: user.postcode,
        phone: user.telephone,
        user: user.firstname + " " + user.lastname
      };
      this.paypalObject.payee = user.email;
    },
    isAddressFormValidated(value) {
      this.addressFormValidated = value;
      if (!value) this.showPaymentSection = false;
    },
    isBasketValidated(value) {
      this.hasItemsInBasket = value;
      if (!value) this.showPaymentSection = false;
    }
  }
};
</script>

<style>
</style>
