<template>
  <div>
    <div v-if="initiateMobileVersion" class="row">
      <search :mobileVersion="initiateMobileVersion"></search>
    </div>
    <div class="row">
      <SideBar
        :style="openSideMenuStyle"
        :mobileVersion="initiateMobileVersion"
        :class="[initiateMobileVersion ? 'col-12':'col-3']"
      />

      <div :class="[initiateMobileVersion ? 'position-absolute col-12':'col-9']">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../components/sideMenu/sideBar.vue";
import search from "../components/search/search.vue";
import { eventMixin } from "@/js/mixins";
export default {
  name: "front",
  props: {
    shouldOpenSideMenu: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    openSideMenuStyle() {
      if (this.shouldOpenSideMenu && this.initiateMobileVersion) {
        return `transition: 0.5s; transform: translateX(0%)`;
      } else if (!this.shouldOpenSideMenu && this.initiateMobileVersion) {
        return `transition: 0.5s; transform: translateX(-100%)`;
      } else {
        return "";
      }
    }
  },
  components: {
    SideBar,
    search
  },
  mixins: [eventMixin]
};
</script>