﻿<template>
    <div>
        <h1>Home</h1>
        <button v-on:click="callApi">Click me</button>
    </div>
</template>

<script>
    import apiActions from '../js/apiActions'
    import { mapActions } from 'vuex'

    export default {
        name: 'Home',
        methods: {
            ...mapActions([
                 'setItems',
            ]),
            callApi: function () {
                var that = this;
                var params = {
                    id: 'Home'
                }
                this.setItems(params);
                apiActions.getWeatherForecasts(params, function (data) {                    
                    that.setItems(data);
                });
            }
        }
    }
</script>