﻿<template>
  <section>
    <template v-for="(item, index) in reativeItems">
      <banner :item="item" :key="index + 'PB'"></banner>
    </template>

    <div v-if="reativeItems.length>0" class="mt-3 text-center">
      <b-pagination
        align="center"
        :total-rows="totalItems"
        v-model="currentPage"
        :per-page="limit"
      />
    </div>
  </section>
</template>

<script>
import banner from "./ProductBanner";
import apiActions from "../js/apiActions";
export default {
  name: "products",
  data() {
    return {
      totalItems: 0,
      currentPage: 1,
      
      limit: 4,
      pageNo: 1,
      make: "",
      category: ""
      
    };
  },
  computed: {
    reativeItems() {
      return this.$store.getters.getItems;
    }
  },
  mounted() {
    this.getProducts();
    this.getTotalPagesCount();
  },
  watch: {
    currentPage(val) {
      pageNo = val;
      this.getProducts();
    },
    $route(to, from) {
      this.getProducts();
      this.getTotalPagesCount();
    }
  },
  methods: {
    getProducts() {
      var that = this;
      let params = {
        limit: 4,
        pageNo: 1,
        category: this.$route.params.category,
        make: this.$route.params.brand
      }
     
      apiActions.getProducts(params, function(data) {
        that.$store.dispatch("setItems", data);
      });
    },
    getTotalPagesCount() {
      let that = this;
      var params = {
        category: this.$route.params.category,
        brand: this.$route.params.brand
      };
      apiActions.getTotalProducts(params, function(data) {
        that.totalItems = data;
      });
    }
  },
  components: {
    banner
  }
};
</script>

