<template>
  <div class="products d-flex">
    <div class="d-flex float-left col-9">
      <router-link
        :to="{ name: 'detail-article', params: { brand: item.brand,  id: item.articleNumber }}"
        class="h-100"
      >
        <div class="d-flex flex-row main_link">
          <img class="col-4" width="195" height="195" :src="item.thumbnail">
          <div class="d-flex flex-column pt-4 col-8">
            <span>{{item.title}}</span>
            <div class="stars-outer">
              <div
                class="stars-inner"
                :style="[{'width': `${Math.round((this.item.rating / 5) * 100)}%`}]"
              ></div>
            </div>
            <span class="short_description">{{item.description}}</span>
          </div>
        </div>
      </router-link>
    </div>
    <div class="right d-flex flex-column pt-4 d-inline-block float-right col-3">
      <div class="availability flex-column d-flex pb-1">
        <span class="availability pb-1">sofort ab Lager</span>
        <span class="highlight_red pb-1">24h Express</span>
      </div>
      <div class="pb-1">
        <span class="dp-inbl numeric-field">{{item.price}} €</span>
      </div>
      <div class="savings pb-1">
        <div class="numeric-field old-price">Regular: {{item.oldPrice}} €</div>
      </div>
      <div
        class="savings_amount highlight_red pb-1 numeric-field"
      >Ersparnis: {{item.oldPrice - item.price}} € ({{Math.round(((item.oldPrice - item.price) / item.oldPrice)* 100)}}%)</div>
      <div class="add_to_basket mt-1 mb-3">
        <button class="btn we-sell-button w-100" @click="addToCart">Add to Cart</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "product-banner",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    addToCart() {
      this.$store.dispatch("setCartItem", this.item);
    }
  }
};
</script>

<style>
.products {
  border-bottom: 1px solid lightslategray;
}
a {
  color: black;
  text-decoration: none !important;
}
a:hover {
  color: black;
}

.short_description {
  font-size: x-small;
}
.right {
  font-size: small;
}
.stars-outer {
  width: 110px;
  display: inline-block;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orangered;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::after {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
.old-price {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
}
.availability {
  font-size: small;
  color: green;
  font-weight: bold;
}
</style>