﻿<template>
  <section>
    <section v-if="item" class="d-flex col-12">
      <div class="d-flex flex-column col-8">
        <div class="product_headline">
          <span class="name" style="overflow-wrap: break-word;">{{item.name}}</span>
        </div>
        <div class="features_box">
          <span>kostenloser Versand</span>
          <span>Finanzierung Artikel</span>
        </div>
        <div class="image-slider">
          <imageslider :images="item.imageUrls"></imageslider>
        </div>
      </div>
      <div class="d-flex flex-column col-4">//Right Part</div>
    </section>
    <div class="col-12">
      <div class="h5 d-flex mt-4 justify-content-center carousel-heading-background">
        <em class="heading-title-carousel my-1">Product Description</em>
      </div>
      <span>{{description}}</span>

      <div class="h5 d-flex mt-4 justify-content-center carousel-heading-background">
        <em class="heading-title-carousel my-1">Technical Details</em>
      </div>
      <technicalDetails :details="technicalDetailsOfItem"></technicalDetails>
    </div>
  </section>
</template>

<script>
import imageslider from "./image-carousel/imagecarousel";
import technicalDetails from "./technicalDetails";
import apiAction from "../js/apiActions.js"

export default {
  name: "product",
  data() {
    return {
      item: null
    };
  },
  mounted() {
    let that = this;
    let params = {
      brand: this.$route.params.brand,
      articleNumber: this.$route.params.id
    }
    apiAction.getProduct(params, function (data) {
      that.item = data;
    })
  },
  components: {
    imageslider,
    technicalDetails
  },
  computed: {
    description() {
      if (this.item != null && this.item.description) {
        return this.item.description;
      } else {
        return "No descrition available ";
      }
    },
    technicalDetailsOfItem(){
      if (this.item != null && this.item.technicalDetails) {
        return this.item.technicalDetails;
      } else {
        return {};
      }
    }
  }
};
</script>

<style>
.product_headline {
  font-size: larger;
  font-weight: bold;
  color: grey;
}
</style>
