<template>
  <section
    class="d-flex col-12 justify-content-between"
    :class="[initiateMobileVersion ? 'flex-column' : 'flex-row']"
  >
    <login class="d-flex" :class="[initiateMobileVersion? 'col-12 order-1':'col-6 order-2']"></login>
    <newuser class="d-flex" :class="[initiateMobileVersion? 'col-12 order-2':'col-6 order-1']"></newuser>
  </section>
</template>

<script>
import countryselect from "vue-country-region-select";
import newuser from "@/components/user/new-user";
import login from "@/components/user/login";
export default {
  name: "profile",
  data() {
    return {
      initiateMobileVersion: false
    };
  },
  components: {
    newuser,
    login
  },
  mounted() {
    this.update();
    window.addEventListener("resize", this.update);
  },
  methods: {
    update() {
      if (window.outerWidth < 1000) {
        this.initiateMobileVersion = true;
      } else {
        this.initiateMobileVersion = false;
      }
    }
  }
};
</script>

<style>
.big-icon {
  font-size: 48px;
  color: lightgrey;
}

.heading {
  border-bottom: 1px solid lightgray;
  padding: 1em;
}
.heading-title {
  padding-left: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  color: orangered;
  font-weight: bold;
}
.declaration {
  padding-left: 2.2em;
}
.custom-button {
  background-color: orangered;
  color: white;
  font-size: large;
  font-weight: bold;
}

.custom-button:hover {
  background-color: rgba(255, 130, 85, 0.7);
  font-style: italic;
  color: white;
}
</style>
