<template>
  <table v-if="flattenArray.length > 0" class="table">
    <tbody>
      <thead>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
        <tr :key="index + 'TD'" v-for="(item, index) in flattenArray">
          <th :class="item.header ? 'header': ''" scope="row">{{item.name}}</th>
          <td v-if="item.value != true && item.value != false">{{item.value}}</td>
           <td v-else-if="item.value == true && !item.header">
             <i class="fas fa-check"></i>
           </td>
           <td v-else-if="!item.header">
             <i class="fas fa-times"></i>
           </td>
           <td v-else>
            
           </td>
        </tr>
    </tbody>
  </table> 
</template>

<script>
export default {
  name: "technical-details",
  data(){
    return{
      array: []
    }
  },
  props:{
    details:{
      type: Object,
      required: true
    }
  },
  computed: {
    flattenArray(){
      if(this.details!==undefined || this.details!==null){
        this.flattenObject(this.details)
        return this.array;
      }
      return {}
    }      
  },
  methods:{
    flattenObject(details) { 
      Object.keys(details).forEach(key => {
        this.array.push({
          name: key,
          value: ' ',
          header: false
        });
        
        let value = details[key];
        if (typeof value !== "object") {
          this.array[this.array.length - 1].value = value;         
        } else {
           this.array[this.array.length - 1].header = true;     
          this.flattenObject(value);
        }
      });
    },
  }
};
</script>

<style>
</style>
