<template>
  <div id="app">
    <div :class="[!initiateMobileVersion? 'container ': '']">
      <div class="row no-gutter">
        <div class="col-12">
          <Navigation :mobileVersion="initiateMobileVersion"/>
          <cart ref="cart" :showCart="showCart && !initiateMobileVersion"></cart>
          <router-view :shouldOpenSideMenu="openSideMenu"></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "./components/navBar/navBar.vue";
import cart from "./components/cart/cart";
import "bootstrap/dist/css/bootstrap.min.css";
import { eventMixin } from "./js/mixins";
import apiActions from "./js/apiActions";

export default {
  name: "app",
  mounted() {
    var that = this;
    this.$on("hideCartEvent", val => {
      setTimeout(function() {
        if (!that.$refs.cart.isActive) {
          that.showCart = false;
        }
      }, 400);
    });
  },
  created() {
    document.title = "We Sell";
  },
  beforeMount() {
    this.getCategories();
    this.getProducts();
  },
  methods: {
    getCategories: function() {
      var that = this;
      apiActions.getCategories(function(data) {
        that.$store.dispatch("setCategories", data);
      });
    },
    getProducts() {
      var that = this;
      apiActions.getTopProducts(function(data) {
        that.$store.dispatch("setTopProducts", data);
      });
    }
  },
  components: {
    Navigation,
    cart
  },
  mixins: [eventMixin]
};
</script>

<style>
.we-sell-button {
  color: orangered;
  border-color: orange;
}

.we-sell-button:hover {
  background-color: orangered;
  border-color: orange;
  color: white;
}
</style>


