<template>
  <div class="bg-light d-flex">
    <div v-if="mobileVersion" class="pl-3 pt-3 w-25 col-2">
      <button class="btn btn-outline-info" v-on:click="toggleSideMenu">
        <i class="fas fa-toggle-on"></i>
      </button>
    </div>

    <template>
      <div :class="[!mobileVersion ? 'col-3 d-inline-block': 'col-5 d-inline-block']">
        <router-link class="navbar-brand py-3" to="/">
          <i class="fas fa-code-branch brand-icon px-2"></i>
          <span class="brand-heading">We Sell</span>
        </router-link>
      </div>

      <search v-if="!mobileVersion" :mobileVersion="mobileVersion"></search>

      <div :class="[!mobileVersion ? 'col-4 ': 'col-5']" class="d-inline-block py-3">
        <div @mouseover="showCart" @mouseleave="hideCart">
          <router-link
            :to="{name: 'checkout'}"
            :class="[!mobileVersion? 'mr-1': 'mr-0.5']"
            class="float-right btn we-sell-button"
          >
            <span v-if="!mobileVersion" class="pr-2">Shopping Cart</span>
            <i class="fas fa-shopping-cart"></i>
          </router-link>
        </div>
        <router-link
          :to="{ name: 'registration'}"
          :class="[!mobileVersion? 'mr-1': 'mr-3']"
          class="float-right btn we-sell-button"
        >
          <span v-if="!mobileVersion" class="pr-2">Account</span>
          <i class="fas fa-user-circle"></i>
        </router-link>
        <!-- 
        <modal :showModal="showModal" :mobileVersion="mobileVersion">
          <template v-slot:header>Sign In</template>

          <div class="d-flex flex-column">
            <div class="d-flex flex-row py-3">
              <div class="w-25 py-2">Username:</div>

              <input class="form-control" type="text" placeholder="Username">
            </div>
            <div class="d-flex flex-row py-3">
              <div class="w-25 py-2">Password:</div>
              <input class="form-control" type="password">
            </div>
          </div>

          <template v-slot:footer>
            <div class="order-2">
              <button
                class="mr-1 btn btn-outline-info"
                data-toggle="modal"
                data-target="#modalCenter"
              >
                <i class="fas fa-sign-in-alt"></i>
                Sign in
              </button>
            </div>

            <div class="order-1">
              <router-link :to="{ name: 'reg'}" class="mr-1 btn btn-outline-info">
                <i class="fas fa-user-circle"></i>
                Register
              </router-link>
            </div>
          </template>
        </modal>-->
      </div>
    </template>
  </div>
</template>

<script>
import search from "../search/search.vue";

export default {
  name: "NavBar",
  data() {
    return {
      showCartonHover: true,
      openSideMenu: false,
      showModal: false
    };
  },
  mounted() {
    this.$on("closeModalEvent", () => {
      this.showModal = false;
    });
  },
  props: {
    mobileVersion: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    showCart() {
      this.$parent.$emit("showCartEvent", true);
    },
    hideCart() {
      this.$parent.$emit("hideCartEvent");
    },
    toggleSideMenu() {
      this.openSideMenu = !this.openSideMenu;
      this.$parent.$emit("toggleSideMenu", this.openSideMenu);
    }
  },
  components: {
    search
  }
};
</script>
<style>
@media (max-width: 984px) {
  .navbar-brand {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
  }
}

.brand-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: orangered;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
}
.brand-icon {
  font-size: 2em;
  color: orangered;
}
</style>
